.formContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1em 1.5em;
}

.signInInput {
    width: 96%;
    height: 3em;
    margin: 0.5em 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding-left: 0.8em;
    outline: none;
}

.signInInput:focus {
    border: 1px solid #797979;
}

.signInLabel {
    color: #6c6c6c;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInButton {
    color: #ffffff;
    border: none;
    height: 3em;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

.redButton {
    background-color: #a31717;
}

.blueButton {
    background-color: #0d80bf;
}

.redButton:hover {
    background-color: #e60f0f;
}

.blueButton:hover {
    background-color: #2da4ff;
}

.googleButton {
    background-color: #ffffff;
    border: 1px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 0;
}

.googleButton svg {
    font-size: 1.4em;
    margin-right: 7px;
}

.googleButton:hover {
    border: 1px solid #6c6c6c;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

.nameSubcontainer {
    width: 46%;
}
