.form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1em 1.5em;
}

.form-container input {
    width: 96%;
    height: 3em;
    margin: 0.5em 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding-left: 0.8em;
    outline: none;  
}

.form-container label {
    color: #6C6C6C
}

button {
    height: 3em;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-button {
    background-color: #A31717;
    color: #FFFFFF;
    border: none;
}

.signin-button:hover {
    background-color: #e60f0f;  
}

.google-button {
    background-color: #ffffff;
    border: 1px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 0;
}

.google-button svg {
    font-size: 1.4em;
    margin-right: 7px;
}

.google-button:hover {
    border: 1px solid #6C6C6C;
}