.mymoviesContainer {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
}

.movieListContainer {
    position: fixed;
    bottom: 8vh;
    right: 1vw;
    width: 81vw;
    height: 67vh;
}

.paginate {
    position: absolute;
    bottom: 3vh;
    right: calc(50% - 15vw);
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination a {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid transparent;
    text-decoration: none;
    color: inherit;
}

.pagination .active a {
    background-color: var(--activeBackgroundColor);
    color: var(--activeTextColor);
    font-weight: bold;
    border: 2px solid var(--activeBackgroundColor);
}

.pagination .active a:hover {
    background-color: var(--activeBackgroundColor);
    color: var(--activeTextColor);
}

.pagination li {
    margin: 0 0.25rem;
    list-style: none;
}

.pagination a:hover {
    background-color: #cecece;
    color: #000000;
}

.pagination .disabled a {
    cursor: not-allowed;
    opacity: 1;
    border: 2px solid #000000;
    color: #000000;
}

.pagination .disabled a:hover {
    background-color: #ffffff;
}

.pagination .previous.disabled,
.pagination .next.disabled {
    cursor: not-allowed;
    opacity: 0.2;
    border: 2px solid #d3d3d3;
    background-color: #f0f0f0;
}

@media (max-width: 1366px) {
    .movieListContainer {
        width: 80vw;
        height: 68vh;
    }
}

@media (max-width: 430px) {
    .paginate {
        position: absolute;
        bottom: 3vh;
        right: 0%;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 90vw; 
    }

    .movieListContainer {
        position: fixed;
        top: 22vh;
        left: 5vw;
        width: 90vw;
        height: 70vh;
    }
}
