.bodyMovie{
    background-color: #F8F8F8;
}

.movieContent{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    height: calc(100% - 16vh);
    box-sizing: border-box;
    padding-left: 20px;
    overflow-y: auto;
    margin-left: 18em;
}

.tb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 8vh;
    margin-left: 308px;
    width: 100%;
    background-color: blue;
}

.tb h2{
    margin: auto 0;
    padding: 10px 0;
    background-color: green;
}

.container .titlesContainer{
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 6vh;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    color: #ACACAC;
}

.titlesContainer tr{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.titlesContainer th{
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    background-color: purple;
}

.container tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    /* background-color: yellow; */
}

.buttonAdd {
    background-color: #A31717;
    color: white;
    border: none;
    border-radius: 8px;
    width: 12vw;
    position: fixed;
    padding: 10px 20px;
    top: 10%;
    right: 35px;
    /* transform: translateY(50%); */
    
}

@media (min-width: 1920px) {

    .movieContent{
        display: flex;
        width: 70%;
        height: 50%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 10vh;
    }
}