.mymoviesContainer {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
}

.movieListContainer {
    position: fixed;
    bottom: 8vh;
    right: 1vw;
    width: 81vw;
    height: 67vh;
}

.paginate {
    position: absolute;
    bottom: 0;
    right: calc(50% - 15vw);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.pagination .active a{
    background-color: #A31717;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #A31717;
}

.pagination .active a:hover{
    background-color: #A31717;
    color: #ffffff;
}

.pagination li {
    margin: 0 0.25rem;
    list-style: none;
    
}

.pagination a {
    padding: 0.5rem;
    border: 2px solid #808080;
    border-radius: 5px;
    text-decoration: none;
    color: #ACACAC;
    background-color: #ffffff;
    font-size: 0.8em;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #cecece;
    color: #000000;
}

.pagination .disabled a{
    cursor: not-allowed;
    opacity: 1;
    border: 2px solid #000000;
    color: #000000;
}

.pagination .disabled a:hover {
    background-color: #ffffff;
}

.pagination .previous.disabled,
.pagination .next.disabled {
    cursor: not-allowed;
    opacity: 0.2;
    border: 2px solid #d3d3d3;
    background-color: #f0f0f0;
}

@media (max-width: 1366px) {
    .movieListContainer {
        width: 80vw;
        height: 68vh;
    }
}
