.titleContainer {
    padding: 0.2em 1.8em;
}

.titleContainer h1 {
    position: relative;
    padding-left: 15px;
}

.titleContainer h1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 7px; 
    background-color: #A31717; 
}