.mymoviesContainer {
    background-color: #f8f8f8;
    height: 932px;
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    display: flex;
    justify-content: center;
}

.movieListContainer {
    position: absolute;
    width: 380px;
    height: 700px;
    top: 180px;
}

.paginate {
    position: absolute;
    width: 100%;
    max-width: 400px;
    bottom: 3vh;
    overflow: hidden;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; 
    overflow: hidden;
    justify-content: center; 
}

.pagination a {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid transparent;
    text-decoration: none;
    color: inherit;
}

.pagination .active a {
    background-color: var(--activeBackgroundColor);
    color: var(--activeTextColor);
    font-weight: bold;
    border: 2px solid var(--activeBackgroundColor);
}

.pagination .active a:hover {
    background-color: var(--activeBackgroundColor);
    color: var(--activeTextColor);
}

.pagination li {
    margin: 0 0.25rem;
    list-style: none;
}

.pagination a:hover {
    background-color: #cecece;
    color: #000000;
}

.pagination .disabled a {
    cursor: not-allowed;
    opacity: 1;
    border: 1px solid #000000;
    color: #000000;
}

.pagination .disabled a:hover {
    background-color: #ffffff;
}

.pagination .previous.disabled,
.pagination .next.disabled {
    cursor: not-allowed;
    opacity: 0.2;
    background-color: #f0f0f0;
}
