.searchContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 8vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: -1;
}

.searchBar {
    height: 2em;
    width: 14em;
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid #969696;
    padding: 0.5em;
    position: fixed;
    margin-right: 5em;
    color: red;
}

.searchIcon {
    position: fixed;
    font-size: 22px;
    top: 2.9%;
    right: 4%;
    color: #969696;
}