.searchContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 250px);
    height: 8vh;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
    margin-left: 2em;
}

.searchBar {
    height: 2em;
    width: 14em;
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid #969696;
    padding: 0.5em;
    position: fixed;
    margin-right: 5em;
    outline: none;
}

.searchBar:focus {
    outline: 1px solid #d32727; 
}

.searchIcon {
    position: absolute;
    right: 4vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #969696;
}

@media screen and (max-width: 1366px) {
    
    .searchBar {
        width: 15em;
        margin-right: 4em;
        margin-top: 2em;
    }

    .searchIcon {
        position: absolute;
        right: 5vw;
        top: 75%;
        transform: translateY(-50%);
        font-size: 22px;
        color: #969696;
    }
}