.searchContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 250px);
    height: 8vh;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
    margin-left: 2em;
}

.searchBar {
    height: 2em;
    width: 14em;
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid #969696;
    padding: 0.5em;
    position: fixed;
    margin-right: 5em;
    color: red;
}

.searchIcon {
    position: absolute;
    /* right: 0; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #969696;
}

@media screen and (max-width: 1366px) {
    .searchContainer, .searchIcon{
        margin-right: 15vh;
    }

    .searchBar {
        width: 15em;
        margin-right: 2em;
        margin-top: 1em;
    }
}