@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;    
    font-family: 'Montserrat', sans-serif;
}

.screenBackground {
    background: linear-gradient(45deg, #ff0000, #e94040);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.loginContainer {
    background: rgb(255, 255, 255);
    box-shadow: 0 05px 15px rgb(0, 0, 0, .5);
    width: 46vh;
    height: 56vh;
    margin: auto;
    border: none;
    border-radius: 20px;
}

.signUpContainer {
    background: rgb(255, 255, 255);
    box-shadow: 0 05px 15px rgb(0, 0, 0, .5);
    width: 46vh;
    height: 64vh;
    margin: auto;
    border: none;
    border-radius: 20px;    
}

.googleButton {
    background-color: #ffffff;
    border: 1px solid #afafaf;
    height: 3em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89%;
    margin: 0 auto;
}

.googleButton svg {
    font-size: 1.4em;
    margin-right: 7px;
}

.googleButton:hover {
    border: 1px solid #6C6C6C;
}

@media (max-width: 1366px) {

    .loginContainer {
        width: 28vw;
        height: 80vh;
    }

    .signUpContainer {
        width: 28vw;
        height: 92vh;
    }
}
