.containerBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.deleteModal {
    background-color: #ebe9e9;
    padding: 0 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 20vw;
    height: 15vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    border: none;
}

.title {
    font-size: 1em;
    font-weight: 500;
    margin: 2em;
}

.deleteModalBtn {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.deleteButton {
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.redButton {
    background-color: #a31717;
}

.redButton:hover {
    background-color: #d32727;
}

.blueButton {
    background-color: #0066b3;
}

.blueButton:hover {
    background-color: #24a0ff;
}

.cancelButton {
    background-color: #ebe9e9;
    color: black;
    border: 1px solid gray;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: #ffffff;
}

@media (max-width: 1366px) {
    .deleteModal {
        padding: 0 1em;
        width: 20vw;
        height: 18vh;
    }

    .title {
        text-align: center;
    }
}
