@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.card {
    display: flex;
    flex-direction: row;
    margin-top: 8em;
    margin-right: 29em;
}

@media (min-width: 1920px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 12em;
        margin-right: 68em;
    }
}
