.redBackground {
    background: linear-gradient(45deg, #bd3939, #e94040);
}

.blueBackground {
    background: linear-gradient(45deg, #94cefa, #0066b3);
}

.toggleButton {
    width: 2.2em;
    height: 1.25em;
    border: none;
    border-radius: 17px;
    position: fixed;
    top: 25vh;
    left: 57vw;
}

.toggleCircle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: radial-gradient(circle at 20% 20%, #e0e0e0, #bdbdbd);
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    transition: all 0.1 ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggled {
    left: 1.1em;
}
