.alignContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    width: 57%;

    transition: all 0.3s ease;
}

p{
    text-align: left;
}

p, .number{
    transition: color 0.7s ease;
}

button:hover p,
button:hover .number {
    color: #A31717;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 230px;
    height: 23vh;
    padding: 1rem;
    border-radius: 10px;
    background-color: #CECECE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.icon {
    height: 30%;
    width: 23%;
}

.number {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: right;
}