@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.link {
    text-decoration: none;
    color: black;
}

.cardContainer {
    position: fixed;
    top: 10vh;
    left: 18vw;
    width: 15vw;
    height: 18vh;
    border-radius: 10px;
    background-color: #CECECE;
    z-index: 1000;
    display: flex;
    cursor: pointer;
}

.cardText {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
}

.cardIcon {
    margin: 0.5rem;
    font-size: 3.5em;
    color: #A31717;
}

.cardTitle {
    font-size: 1em;
    text-align: center;
    margin-top: 0;;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cardNumber {
    width: 50%;
    padding: 0 1em;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 1vw;
}

.cardContainer:hover .cardIcon {
    color: #d32727;
}



@media (max-width: 1366px) {

    .cardContainer {
        top: 15vh;
        left: 24vw;
        width: 19vw;
        height: 24vh;
    }
}