.movieContainer {
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 1.05em;
    z-index: 9999;
}

.leftContainer {
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;;
    border-right: 1px solid rgb(177, 177, 177);
}

.rightContainer {
    width: 65%;
    padding: 0.8em;
    font-size: 0.9em;
}

.frame {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 1em;
}

.titleLetter {
    border: 1px solid #acacac;
    border-radius: 10px;
    width: 4em;
    height: 3em;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    background-color: #fff;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    color: #a31717;
}

.movieTitle {
    font-weight: 700;
    margin-bottom: 0.6em;
}

.movieDirector {
    margin-bottom: 0.6em;
}

.movieCategory {
    margin-bottom: 0.6em;
}

.movieDuration {
    margin-bottom: 0.6em;    
}

.movieDate {
    
}

.sameLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}