.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
    text-decoration: none;
    font-weight: 600;
}

.red {
    text-decoration: none;
    color: #a31717;
}

.blue {
    text-decoration: none;
    color: #0d80bf;
}
