.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
    text-decoration: none;
    color: #A31717;
    font-weight: 600;
}

.linkSignup {
    text-decoration: none;
    color: #A31717;
}


